[Desktop Entry]
Type=Application
Exec=/home/force/.local/bin/set-mouse-acceleration.bash
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Disable Mouse Accleration
Name=Disable Mouse Accleration
Comment[en_US]=
Comment=
